@model IEnumerable<CIS152FinalMcCurdyV1.Models.Drink>

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1> *@
<div class="text-center pageHeader">
    <h1 class="display-4">Welcome To CIS152 Drink Shop - Drinks Index</h1>
</div>

<p>
    <a asp-action="Create">Create New Drink</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrinkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DrinkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrinkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DrinkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
